HELP.md
target/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/.flattened-pom.xml
**/src/main/resources/application-prod1.yml
/logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/ !**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules/
*/node_modules/
